[FORMAT]
max-line-length=120

[MESSAGES CONTROL]
disable = fixme,too-many-arguments,logging-format-interpolation,too-many-locals,multiple-statements,too-few-public-methods

[BASIC]
# Allow one and two character names in a number of places.
argument-rgx=[a-z_][a-z0-9_]{0,30}$
variable-rgx=[a-z_][a-z0-9_]{0,30}$
attr-rgx=[a-z_][a-z0-9_]{0,30}$
